---
toc: false
eleventyExcludeFromCollections: true
---

<section>

<h1>Available plugins</h1>

<ul class="plugin-list">
	{% for plugin in collections.plugin -%}
	{%- set meta = plugin.data -%}

	<li>
		<a href="{{ meta.id }}">{{ meta.title | md | safe }}</a>
		<div>{{ meta.description | md | safe }}</div>
	</li>
	{% endfor -%}
</ul>

</section>

<section>

<h1>Contribute</h1>

<p>Writing Prism plugins is easy! Read how at the “<a href="https://prismjs.com/extending.html#writing-plugins">Extending Prism</a>” section.</p>

</section>
