---
layout: null
permalink: plugins.json
eleventyExcludeFromCollections: true
---
{
	"meta": {
		"path": "{id}/prism-{id}",
		"link": "{id}/",
		"domain": "https://{{ subdomain }}.prismjs.com/"
	},
	{% for plugin in collections.plugin %}
	{%- set id = plugin.data.id -%}
	{%- set title = plugin.data.title -%}
	{%- set description = plugin.data.description -%}
	{%- set owner = plugin.data.owner -%}
	{%- set optional = plugin.data.optional -%}
	{%- set require = plugin.data.require -%}
	{%- set noCSS = plugin.data.noCSS -%}

	"{{ id }}": {
		"title": "{{ title }}",
		"description": "{{ description | escape_quotes | safe }}",
		"owner": "{{ owner }}"{% if require %},
		"require": {{ require | dump | safe }}{% elseif optional %},
		"optional": {{ optional | dump | safe }}{% elseif noCSS %},
		"noCSS": {{ noCSS -}}
		{% endif %}
	}{{ "," if not loop.last }}
	{% endfor %}
}
