---
layout: null
permalink: plugins.json
eleventyExcludeFromCollections: true
---
{
	"meta": {
		"path": "{id}/prism-{id}",
		"link": "{id}/",
		"domain": "https://{{ subdomain }}.prismjs.com/"
	},
	{% for plugin in collections.plugin %}
	{%- set meta = plugin.data -%}

	"{{ meta.id }}": {
		"title": {{ meta.title | md | dump | safe }},
		"description": {{ meta.description | md | dump | safe }},
		"owner": "{{ meta.owner }}"
		{%- if meta.require %},
		"require": {{ meta.require | dump | safe -}}
		{% endif -%}
		{%- if meta.optional %},
		"optional": {{ meta.optional | dump | safe -}}
		{% endif -%}
		{%- if meta.noCSS %},
		"noCSS": {{ meta.noCSS -}}
		{% endif %}
	}{{ "," if not loop.last }}
	{% endfor %}
}
