<ul>
	<li><a href="https://prismjs.com/index.html">Home</a></li>
	<li><a href="https://prismjs.com/download.html">Download</a></li>
	<li><a href="https://prismjs.com/faq.html">FAQ</a></li>
	<li><a href="https://prismjs.com/test.html">Test drive</a></li>
	<li><a href="https://prismjs.com/extending.html">API docs</a></li>
	<li><a href="https://github.com/PrismJS/prism/">Fork Prism on GitHub</a></li>
	<li><a href="https://x.com/prismjs">Follow Prism on X</a></li>
</ul>
