@media (max-width: 1300px) {
	[data-page="/"] {
		#theme > label::before {
			display: block;
		}
	}
}

section :is(h1, h2, h3)[id] {
	a:not(:first-of-type) {
		text-decoration: revert;

		&::before {
			display: none;
		}
	}
}
